@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  h1 {
    white-space: normal;
  }
  .work-blok {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work-blok__element {
    max-width: 210px;
  }
  .last__content {
    max-width: 320px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  h2 {
    text-align: center;
  }
  .header-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header-about__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 310px;
  }
  .header-about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 100%;
  }
  .header-about p {
    width: 100%;
  }
  .work {
    margin-top: 140px;
  }
  .work-blok {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .work-blok__element {
    max-width: 100%;
    margin-top: 30px;
  }
  .last {
    margin-top: 100px;
  }
  .last__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .last__content-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .last__item {
    margin-top: 33px;
  }
  .last__content {
    margin-top: 45px;
  }
  .last__img {
    margin: 0 auto;
  }
  .footer {
    margin-top: 100px;
  }
  .connection {
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
  }
  .application::after {
    width: 100%;
    height: 100%;
  }
  .contacts {
    margin-top: 65px;
    margin-left: 50px;
  }
  .contacts__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
