.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
}

.main-popular {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-popular__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.main-popular__button {
  padding: 30px 105px;
}

.main-popular__img {
  margin-left: 20px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.main-popular__slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin: 0 auto;
}
