@media (max-width: 992px) {
   .container {
      max-width: 750px;
   }
   h1 {
      white-space: normal;
   }
   .mw- {
      &300 {
         width: 300px;
      }
   }
}

@media (max-width: 767px) {
   .container {
      max-width: none;
   }
   h2 {
      text-align: center;
   }
   .header-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__info {
         order: 2;
      }
      &__img {
         order: 1;
      }
      p {
         width: 100%;
      }
   }
   .work {
      margin-top: 140px;
   }
   .work-blok {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      &__element {
         max-width: 100%;
         margin-top: 30px;
      }
   }
   .last {
      margin-top: 100px;
      &__wrapper {
         flex-direction: column;
         margin-top: 50px;
      }
      &__content-items {
         flex-direction: column;
         margin-top: 0px;
      }
      &__item {
         margin-top: 33px;
      }
      &__content {
         margin-top: 45px;
      }
      &__img {
         margin: 0 auto;
      }
   }
   .footer {
      margin-top: 100px;
   }
   .connection {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 50px;
      flex-direction: column;
   }
   .application {
      width: 100%;
      height: 100%;
      padding: 10px 15px;
      &::after {
         width: 100%;
         height: 100%;
      }
   }
   .contacts {
      margin-top: 65px;
      &__form {
         flex-direction: column;
      }
      &__item {
         flex-direction: column;
      }
   }
}
